html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.leaflet-sidebar {
  z-index: 1000;
}

.leaflet-sidebar .leaflet-sidebar-content {
  max-height: 100%;
  overflow-y: auto;
}

/* Ajuste móvil opcional */
@media (max-width: 768px) {
  .leaflet-sidebar {
    width: 80%;
  }
}
