body {
    font-family: "Fira Code", monospace !important;
}

/* Aplica a todo el mapa Leaflet y sus controles */
.leaflet-container,
.leaflet-sidebar,
.leaflet-popup,
.leaflet-control {
    font-family: "Fira Code", monospace !important;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.leaflet-sidebar {
  z-index: 1000;
}

.leaflet-sidebar-tabs li a:hover i {
    color: #AF7502 !important; /* ejemplo: amarillo en hover */
}

.tabs a img {
  transition: filter 0.2s ease; /* animación suave */
}

.tabs a:hover img {
  filter: invert(64%) sepia(66%) saturate(663%) hue-rotate(17deg) brightness(92%) contrast(90%);
}

.tabs a {
  display: flex !important;       /* aseguramos flex */
  align-items: center !important; /* centro vertical */
  justify-content: center !important; /* centro horizontal */
  width: 40px;
  height: 40px;
  padding: 0 !important;          /* quita padding por defecto */
  line-height: 1 !important;      /* evita desplazamiento */
}

.bi-custom {
  width: 25px;
  height: 25px;
  filter: invert(1) brightness(2);
  display: block;
}

.leaflet-sidebar .leaflet-sidebar-content {
  max-height: 100%;
  overflow-y: auto;
  word-wrap: break-word;  /* evita cortes de texto */
  white-space: normal;    /* asegura ajuste automático */
}

/* Cambiar el fondo del header completo */
.leaflet-sidebar-header {
    background: #9B262A;   
    color: #fff;           /* texto blanco */
    font-weight: bold;
}

.leaflet-sidebar-tabs {
    background: #9B262A;   
    color: #fff;
}

.leaflet-sidebar-tabs > li.active,
.leaflet-sidebar-tabs > ul > li.active {
    background-color: #9B262A !important; 
    color: #fff !important; 
}

.leaflet-sidebar-tabs > li.active i {
    background-color: #9B262A !important;
    color: #fff !important;
    border-radius: 5px;
    padding: 5px;
}

/* Íconos de tabs inactivas */
.leaflet-sidebar-tabs > li > a i {
    color: #fff !important;   /* blancos */
}

/* Opcional: cambiar también el <a> entero por si hay texto */
.leaflet-sidebar-tabs > li > a {
    color: #fff !important;
}

/* Forzar blanco en todos los íconos inactivos y activos */
.leaflet-sidebar-tabs li a,
.leaflet-sidebar-tabs li a i {
    color: #fff !important;
}





.sidebar-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.sidebar-btn img {
  width: 24px;
  height: 24px;
}


@media (max-width: 768px) {
  #map {
    width: 95vw;     /* menos que 100vw */
    height: 80vh;    /* deja espacio arriba/abajo */
    margin: 0 auto;  /* centra el mapa */
    border-radius: 0;
  }

  .leaflet-sidebar {
    max-width: 50vw !important;
    transition: transform 0.3s ease-in-out;
  }

  .leaflet-sidebar-header {
    font-size: 1rem; /* encabezado más chico */
  }

  .leaflet-sidebar-content {
    font-size: 0.9rem; /* texto más compacto */
  }

  .sidebar-btn img {
    width: 20px;
    height: 20px;
  }
}
